/* Put sidebar on the left side of the page. Article area floats to the right. */
:root 
{
	--max-article-width:75%;
  --right-gap:0%;
  --max-aside-width:15%;
}
article, aside {float:right}
article {padding-left:0;margin-left:0;}
article {margin-right:var(--right-gap);}
aside{margin-top:0;margin-left:0;margin-right:0;}





