:root
{
  --article-column-width:75%;
  --sidebar-width:25%;    
  --text-start:25%;
}

article{float:right;}

article{margin-right:var(--right-margin);margin-left:0;}

/* With sidebar to left no padding is needed  */
article{padding-left:0;}

article { padding-right:var(--sidebar-width);}

aside {padding-left:1.5em;padding-right:1.5em;}
aside > p:first-child > img {border-radius:50%;padding:.5em;width:40%;}
aside > p {font-weight:bold;font-size:.7rem;padding:2em;text-align:center;}
aside > p > img, aside > p > a > img {width:40%;margin:0;width:20%;padding-left:5%;padding-right:5%;}
aside > hr {margin:2em;height:1px;color:darkgray;margin-left:25%;margin-right:25%;}
aside > h2 {font-size:2em;padding-bottom:.5em;}

aside > h3 {font-weight:bold;padding-bottom:1em;}
aside > h4 {padding:.5em;}
aside > h5 {text-align:right;line-height:1.4em;}
aside a {color:var(--a-sidebar);}
aside a:hover, aside a:active {text-decoration:none;}
/*
 * --------------------------------------------------
 * Sidebar unordered list shows as boxes, without
 * indentation--it's for table of contents
 * --------------------------------------------------
 */
aside > ul {
  margin-bottom:2em;
  border-collapse:collapse;
}


aside > ul li {
  padding: .5em .5em .5em .5em;
  list-style-type:none;
  margin-bottom:1em;
  border-top:1px solid lightgray;
  iborder-bottom:1px solid lightgray;
  iiborder-left:.25rem solid #FF0000;
  border-left:.25rem solid lightgray;
}

aside > ul li a {
  border-bottom:1px dotted var(--a); 
  text-decoration:none;
}

aside > ul li a:active, aside > ul li a:hover {
  background-color:var(--fg);
  color:var(--bg);
}

aside > ul > li > a {
  font-weight:bold;
}



