/* System fonts always look best so it's a good default */
html,body,p {font-family:var(--informal),sans-serif;}
/* OTOH Courier is a lousy code font by default */
code,pre{font-family:var(--code),monospace;}

/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
header > p {font-size:var(--branding-height);font-weight:900;display:inline;} 

 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
header > ul {line-height:var(--header-height);}
header > ul {margin-left:0;list-style-type:none;display:inline;}
header > ul > li{display:inline;padding-right:.5rem;font-size:1.25rem;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{font-weight:400;text-decoration:none;}

header > ul > li > a:hover,
header > ul > li > a:active
	{text-decoration:underline;}


/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header > ul > li:first-child > a {font-size:var(--branding-height);font-weight:900;padding-right:1rem;}


/* ******************************/
/*  NAVBAR                      */
/* ******************************/

nav {width:var(--header-footer-width);} 
nav > img {display:inline;}

/*
 * --------------------------------------------------
 * Simplest case: a single item. Don't even need to
 * make it a bullet.
 * --------------------------------------------------
 */
nav > p {margin-top:0;line-height:var(--nav-height);}
nav > p > a {font-size:1.25em;margin-right:1em;}
nav > p > a {font-style:normal;}

nav > p > a,
nav > p > a:link,
nav > p > a:visited {display:inline;text-decoration:none;;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > p > a:hover,
nav > p > a:active {text-decoration:underline;} 

/*
 * --------------------------------------------------
 * More likely case: a horizontal row of menu items.
 * Use an unordered list--in other words, just
 * a bullet list. 
 * --------------------------------------------------
 */
nav > ul > li {list-style-type:none;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;text-decoration:none;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;} 


/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/

/* Handle all levels of nested indentation */
article ul > li,
article ol > li
  {margin-left:1em; padding-right:1em;}

article {padding-right:var(--article-pad-text-end);}
article > h1,article > h2 {font-weight:700;}
article h1 + h2 {margin-top:0;font-size:1.5rem;padding-top:.5em;padding-bottom:.5em;}
article > h4 {font-weight:normal;font-size:1.25rem;} /* Byline */
article > h4 > strong {font-weight:bold;} /* Byline */
article > h5 {font-family:var(--code);}
article > p > strong {font-weight:700;}

article > p, 
  article > ul, 
  article > ol, 
  article > li, 
  article > dd, 
  article > dl,
  article > hr {
		line-height:2.5rem;
}

/* Link appearance including all list levels */
article a,
article a:link,
article a:visited,
article ol a,
article ol a:link,
article ol a:visited,
article ul a,
article ul a:link,
article ul a:visited
  {text-decoration:none;}

/* Link appearance during click or passing over */
article a:hover,
article ul a:hover,
article ul a:active,
article ol a:hover,
article ol a:active
  {text-decoration:none;}

article > table > thead > tr > th  {padding-top:1em;}
article > blockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}

/*
 * --------------------------------------------------
 * Code listings
 * --------------------------------------------------
 */

article > p > code, article > code, article > pre, article > pre > code {
		font-family:var(--code);
		font-size:.8em;
		overflow:auto;
    margin-bottom:0em;
    margin-right:1em;
    line-height:1.15em;
    padding: .5em;
		}
article > pre { padding-left: 1em;line-height:1.5em;font-size:1.1em;}

/*
 * --------------------------------------------------
 * Links in normal paragraph text and lists
 * --------------------------------------------------
 */


/*
 * --------------------------------------------------
 * Images: full width, light drop shadow 
 * --------------------------------------------------
 */
article > img, article > p > img {
  width:100%;
  display:block;
}

article > table {margin-top:2rem;margin-bottom:3rem;}
article > table > td,th {padding:1rem;}
article > table > tbody > tr > td {padding:1rem;}


/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

aside {height:100vh;}

aside > h2 {font-size:1rem;font-weight:700;}
aside > h3 {font-size:.75em;font-weight:bold;margin-bottom:2rem;}
aside > p > img {margin-top:1rem;width:100%;padding:0;}
aside > p {font-size:1.2rem;margin-bottom:0em;}

/* ******************************/
/*  FOOTER                      */
/* ******************************/


/* ****************************/
/*  FOOTER BRANDING AND LINKS */
/* ****************************/
footer {width:var(--header-footer-width);} 


/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
footer > p {font-size:var(--footer-branding-height);font-weight:900;display:inline;} 

 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
footer > ul {line-height:var(--footer-height);}
footer > ul {margin-left:0;list-style-type:none;display:inline;}
footer > ul > li{display:inline;padding-right:1rem;font-size:1.25rem;} 
footer > ul > li > a,
footer > ul > li > a:link,
footer > ul > li > a:visited
	{font-weight:400;text-decoration:none;}
footer > ul > li > a:hover,
footer > ul > li > a:active
	{text-decoration:underline;}

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
footer > ul > li:first-child > a {font-size:var(--footer-branding-height);font-weight:900;}

footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{text-decoration:none;}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{text-decoration:underline;}

