/* IMPORTANT: Downloadable fonts should be imported above this rule  */
:root 
{

	/* **********************************************************/
	/* COLOR DECLARATIONS USED BY ALL METABUZZ FRAMEWORK THEMES */
	/* **********************************************************/

	/*
	 * Most but not all colors used by a theme appear
	 * in this CSS file as CSS variables, so that you
	 * can make big changes to your theme by doing 
	 * nothing more than altering these values.
	 * 
	 * Text colors use fg, meaning foreground, and
	 * background colors use fg. Sometimes they're
	 * used to color non-text objects, which is why
	 * they aren't called -text or -background.
	 *
	 */

    /* Default foreground (text) and background colors  */
    --fg: black;
    --bg: white;
    /* Default link colors */
    --a:blue; /* #0072CB; */
    --a-visited: var(--a);
    --a-hover: var(--a);
    --a-active: var(--a);

    
    /* Secondary foreground (text) and background colors for accents. */
    --trim-fg:darkgray; 
    --trim-bg:white;

    
    /* Primary foreground (text) and background colors in header */
    --header-fg: var(--fg);
    --header-bg: var(--bg);
    /* Link colors specific to header */
    --a-header: var(--header-fg); 
    --a-header-link:  var(--header-fg);
    --a-header-visited:  var(--header-fg);
    --a-header-hover: var(--header-fg); 
    --a-header-active:  var(--header-fg);


    /* Primary foreground (text) and background colors in navbar */
    --nav-fg:var(--fg);
    --nav-bg:var(--bg);
    /* Link colors specific to navbar */
    --a-nav: var(--a); 
    --a-nav-link:  var(--a);
    --a-nav-visited:  var(--a);
    --a-nav-hover: var(--a); 
    --a-nav-active:  var(--a);


    /* Default foreground (text) and background colors in article */
    --article-fg: var(--fg);
    --article-bg: var(--bg);
    /* Link colors specific to article */
    --a-article: var(--a); 
    --a-article-link:  var(--a);
    --a-article-visited:  var(--a);
    --a-article-hover: var(--a); 
    --a-article-active:  var(--a);

        
    /* Default foreground (text) and background colors in aside */
    --sidebar-fg: var(--fg);
    --sidebar-bg: var(--bg);
    /* Link colors specific to sidebar */
    --a-sidebar: var(--a); 
    --a-sidebar-link:var(--a);
    --a-sidebar-visited:  var(--a);
    --a-sidebar-hover: var(--a); 
    --a-sidebar-active:  var(--a);


    /* Primary foreground (text) and background colors in footer */
    --footer-fg:var(--fg);
    --footer-bg:var(--bg);
    /* Link colors specific to footer */
    --a-footer: var(--a);
    --a-footer-link: var(--a);
    --a-footer-visited: var(--a);
    --a-footer-hover: var(--a); 
    --a-footer-active: var(--a);

}


/* **********************************************************/
/* COLOR AND BORDER CHOICES UNIQUE TO THIS THEME            */
/* **********************************************************/


/* ******************************/
/*  HEADER COLORS AND BORDERS   */
/* ******************************/

header > p {color:var(--header-fg);background-color:var(--header-bg);} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{color:var(--header-fg);}

header > ul > li > a:hover,
header > ul > li > a:active
	{color:var(--header-fg);}

/*
 * --------------------------------------------------
 * Special feature: First item in list can have
 * a distinct color.
 * --------------------------------------------------
 */
header > ul > li:first-child > a {color:var(--header-fg);}


/* ******************************/
/*  NAVBAR COLORS AND BORDERS   */
/* ******************************/

nav > p {background-color:var(--nav-bg); }
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {color:var(--nav-fg);} 

nav > p > a,
nav > p > a:link,
nav > p > a:visited {color:var(--nav-fg);} 


/* ******************************/
/*  ARTICLE COLORS AND BORDERS  */
/* ******************************/

article > p > code, article > code, article > pre, article > pre > code 
  {background-color:#F0F0F0;}    
article h1 + h2 {color:var(--trim-fg);}
article > h2 {color:var(--header-fg);}
article > h4 {color:var(--header-fg);} 
article > h4 > strong {color:black; } 
article > table > thead > tr > th {color:var(--header-bg);background-color:var(--header-fg);}
article > table > tbody > tr > td {border-bottom:1px solid gray;}

/* Colors in all levels of lists, including links */
article a,
article ul > li > a,
article ul > li > a:link,
article ul > li > a:visited,
article ol > li,
article ol > li > a,
article ol > li > a:link,
article ol > li > a:visited
 {color:var(--fg);text-decoration:1px solid underline var(--a);}

article ul > li > a:hover,
article ul > li > a:active,
article ol > li > a:hover,
article ol > li > a:active
  {text-decoration:none;}

/*
 * --------------------------------------------------
 * Images: light drop shadow 
 * --------------------------------------------------
 */
article > img, article > p > img {
  box-shadow: rgb(128,128,128) 1px 1px 3px 0px;
}


/* ******************************/
/*  SIDEBAR COLORS AND BORDERS  */
/* ******************************/

aside > h2 {color:black;background-color:var(--article-bg);}
aside > h4 {color:var(--header-bg);background-color:var(--header-fg)}


/* ******************************/
/*  FOOTER COLORS AND BORDERS   */
/* ******************************/

footer {border-top:1px solid var(--trim-fg);}
footer > table > thead > tr > th {color:var(--footer-fg);background-color:var(--footer-bg);}
/* Color of links in main rows (body) of table */
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{color:var(--header-fg);}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{color:var(--header-fg);}
footer > ul > li > a,
footer > ul > li > a:link,
footer > ul > li > a:visited
	{color:var(--trim-fg);}

/*
 * --------------------------------------------------
 * Special feature: First item in list has its own 
 * color
 * --------------------------------------------------
 */
footer > ul > li:first-child > a {color:var(--trim-fg);}

