html,body,nav,header,article,footer{float:left;clear:both;overflow:auto;}
html,body,nav,header,article,aside,footer{color:var(--fg);background-color:var(--bg);}


header {color:var(--header-fg);background-color:var(--header-bg);overflow:hidden;}
header {padding-left:var(--text-start);}
/* Prevent word wrap. Looks bad on smaller screens. */
header {white-space:nowrap;}
header {width:var(--header-footer-width);}
/* Blank space on each side of client area */
header {margin-right:var(--right-margin);margin-left:var(--left-margin);}


nav {color:var(--nav-fg);background-color:var(--nav-bg);overflow:hidden;}
nav {padding-left:var(--text-start);}
/* Prevent word wrap. Looks bad on smaller screens. */
nav {white-space:nowrap;}
nav {width:var(--header-footer-width);}
nav {margin-right:var(--right-margin);margin-left:var(--left-margin);}

article {box-shadow:rgb(128, 128, 128) 1px 1px 3px 0px;}

article {color:var(--article-fg);background-color:var(--article-bg);}
article {width:var(--center-column-width);}                       
article {padding-left:var(--text-start);}
article {margin-left:var(--left-margin);}


aside {color:var(--sidebar-fg);background-color:var(--sidebar-bg);} 
aside {width:var(--sidebar-width);}                            


footer {color:var(--footer-fg);background-color:var(--footer-bg);} 
footer {padding-left:var(--text-start);}
footer {clear:both;}    
footer {width:var(--header-footer-width);} 
footer {margin-right:var(--right-margin);margin-left:var(--left-margin);}


/* Indent list up to 3 levels */
li li {margin-left:1rem;}
li li li {margin-left:1rem;}


