
/* IMPORTANT: Downloadable fonts should be imported above this rule  */
:root 
{
/* ************************************/
/* ROOT COLORS                        */
/* ************************************/
	/*
	 * Most but not all colors used by a theme appear
	 * in this CSS file as CSS variables, so that you
	 * can make big changes to your theme by doing 
	 * nothing more than altering these values.
	 * 
	 * Text colors use fg, meaning foreground, and
	 * background colors use fg. Sometimes they're
	 * used to color non-text objects, which is why
	 * they aren't called -text or -background.
	 *
   * You can find the official HTML color names at:
   * https://htmlcolorcodes.com/color-names/
   *
   *
   */

    /* Default foreground (text) and background colors  */
    --fg:white;
    --bg:#010536; 

    /* Default link colors */
    --a:white;
    --a-link: var(--a);
    --a-visited: cyan;
    --a-hover: var(--a);
    --a-active: var(--a);

    /* Secondary foreground (text) and background colors for accents. */
    --trim-fg:#40FFC2;
    --trim-bg: white;

 
/* ************************************/
/*  ROOT HEADER COLORS                */
/* ************************************/

    /* Primary foreground (text) and background colors in header */
    --header-fg:var(--fg);
    --header-bg:var(--bg); 
    /* Link colors specific to header */
    --a-header: var(--header-fg); 
    --a-header-link:  var(--header-fg);
    --a-header-visited:  var(--header-fg);
    --a-header-hover: var(--header-fg); 
    --a-header-active:  var(--header-fg);


/* ************************************/
/*  ROOT NAVBAR (NAV TAG) COLORS      */
/* ************************************/

    /* Primary foreground (text) and background colors in navbar */
    --nav-fg: var(--fg);
    --nav-bg: var(--bg);
    /* Link colors specific to navbar */
    --a-nav: var(--a); 
    --a-nav-link:  var(--a);
    --a-nav-visited:  var(--a);
    --a-nav-hover: var(--a); 
    --a-nav-active:  var(--a);


/* ************************************/
/*  ROOT ARTICLE COLORS               */
/* ************************************/

    /* Default foreground (text) and background colors in article */
    --article-fg: var(--fg);
    --article-bg:var(--bg);
    /* Link colors specific to article */
    --a-article: var(--a); 
    --a-article-link:  var(--a);
    --a-article-visited:  var(--a);
    --a-article-hover: var(--a); 
    --a-article-active:  var(--a);

        
/* ************************************/
/*  ROOT SIDEBAR (ASIDE TAG)  COLORS  */
/* ************************************/

    /* Default foreground (text) and background colors in aside */
    --aside-fg: var(--fg);
    --aside-bg: var(--bg);
    /* Link colors specific to sidebar */
    --a-sidebar: var(--a); 
    --a-sidebar-link:  var(--a);
    --a-sidebar-visited:  var(--a);
    --a-sidebar-hover: var(--a); 
    --a-sidebar-active:  var(--a);

   
/* ************************************/
/*  ROOT FOOTER COLORS                */
/* ************************************/

    /* Primary foreground (text) and background colors in footer */
    --footer-fg: var(--header-fg);
    --footer-bg: var(--header-bg);
    /* Link colors specific to footer */
    --a-footer: var(--a); 
    --a-footer-link: var(--a);
    --a-footer-visited: var(--a);
    --a-footer-hover: var(--a); 
    --a-footer-active: var(--a);

}


