:root
{
  /* Wide style pages fill all horizontal space 

  --article-column-width:80%;
	--sidebar-width:20%;    
  --left-margin:0%;
  --right-margin:0%;
  --header-footer-width:100%; */

  /* The following should add up to 100%:
   * --article-column-width
	 * --sidebar-width
   * --left-margin
   * --right-margin
   */

}

